:root{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.nav-bar{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
  color: white;
  background :#262626;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

.link{
  text-decoration: none;
  color: inherit;
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 10px;
}

.nav-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-transform: uppercase;
  padding: 0;
}

.list-item{
  padding: 5px 0;
}

.nav-logo{
  font-size: 1.7em;
  font-style: oblique;
}

.nav-button{
  font-size: 1em;
  font-family: inherit;
  border-radius: 5px;
  border: 2px solid white;
  padding: 5px;
}

.footer-list{
  background :#262626;
  color: white;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 15px;
}

